<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>

<body>

	<div class="super_container">

		<header th:replace="layout :: header"></header>
		<!-- Slider -->
<p>ABOUT</p>
	<footer th:replace="layout :: footer"></footer>

	</div>
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/styles/bootstrap4/popper.js}"></script>
	<script type="text/javascript"
		th:src="@{/styles/bootstrap4/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugins/Isotope/isotope.pkgd.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
	<script type="text/javascript" th:src="@{/plugins/easing/easing.js}"></script>
	<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>

</html>
