<!DOCTYPE html>
<html>
<head th:replace="layout :: head"></head>
<body>
	<div class="super_container">
		<header th:replace="layout :: header"></header>
		<h2>List Products</h2>
		<div class="rows">
			<div class="col-sm-9">
				<table class="table table-bordered">
					<thead>
						<col width=auto span="1">
						<col width="50" span="2">
    					<col width="250" span="1">
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>Quantity</th>
							<th scope="row">Amount</th>
							<th></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="cart: ${carts} ">
							<td th:text="${cart.product.getName()}"></td>
							<td th:text="${cart.product.getPrice()}"></td>
							<td th:text="${cart.quanity}"></td>
							<td th:text="${cart.total}"></td>
							<td><a th:href="@{/cart/remove/{id}(id=${cart.id})}"
								class="btn btn-danger">Remove</a></td>
						</tr>
					</tbody>

				</table>
				<p>
					Total: <span th:text="${total_price}"></span>
				</p>

				<hr />
				<a class="btn btn-primary btn-sm" th:href="@{/cart/clear}">Clear Cart</a>
				<a class="btn btn-primary btn-sm" th:href="@{/cart/payment}">Payment</a>
			</div>
		</div>
		<footer th:replace="layout :: footer"></footer>
	</div>
</body>
</html>